<svg viewBox="0 0 100 100">
  <style>
    .scale{font-size: 6px; }
  </style>
  <g stroke="currentColor" fill="none">
    <rect x="10" y="10" width="80" height="80"/>
  </g>
  <g stroke="currentColor" fill="none" stroke-width="0.5">
    <rect x="10" y="10" width="20" height="20" fill="#f00" />
    <rect x="30" y="10" width="20" height="20" fill="#f50" />
    <rect x="50" y="10" width="20" height="20" fill="#f90" />
    <rect x="70" y="10" width="20" height="20" fill="#ff0" />
    <rect x="10" y="30" width="20" height="20" fill="#f05" />
    <rect x="30" y="30" width="20" height="20" fill="#f55" />
    <rect x="50" y="30" width="20" height="20" fill="#f95" />
    <rect x="70" y="30" width="20" height="20" fill="#ff5" />
    <rect x="10" y="50" width="20" height="20" fill="#f09" />
    <rect x="30" y="50" width="20" height="20" fill="#f59" />
    <rect x="50" y="50" width="20" height="20" fill="#f99" />
    <rect x="70" y="50" width="20" height="20" fill="#ff9" />
    <rect x="10" y="70" width="20" height="20" fill="#f0f" />
    <rect x="30" y="70" width="20" height="20" fill="#f5f" />
    <rect x="50" y="70" width="20" height="20" fill="#f9f" />
    <rect x="70" y="70" width="20" height="20" fill="#fff" />
  </g>
</svg>
